* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.allergyselect {
  label {
    font-size: 20px;
  }
}

.check {
  margin-left: 10px;
  margin-bottom: 20px;
}

.myphoto {
  object-fit: fill;
  width: 70%;
  height: 600px;
}


.image {
  width: 200px;
  height: 200px;
}

.miniphoto {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

.header {
  height: 100px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.footer {
  margin-top: 50px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}