<div class="container">

</div>
<div class="container mt-5">
  <p>
    <%= image_tag 'kristian-angelo-lWnlcBz6gW4-unsplash.jpg', size:"1000x500" ,:alt => '登録ボタン' %>
  </p>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p class="h1"> Food-CHECK</p>
      <p class="h2"> Food-CHECK</p>
      <p class="h3"> Food-CHECK</p>
      <p class="h4"> Food-CHECK</p>
      <p class="h5"> Food-CHECK</p>
      <p class="h6"> Food-CHECK</p>
    </div>
    <div class="col-sm">

    </div>
    <div class="col-sm ">
      <div class="col mt-5">
        <%= link_to 'Log in..', new_user_session_path, class: "btn btn-info"%>
      </div>
      <div class="col mt-5">
        <%= link_to 'New Account', new_user_registration_path, class: "btn btn-info"%>
      </div>
    </div>
  </div>

</div>